/*PROJECT PAGE*/

.piece-title{
	margin-top: 200px;
}

.image1{
	margin-top: 150px;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}

.image2{
	margin: 2em 1em 2em 0;
	width: 47.85%;
}

.image3{
	margin: 2em 0 2em 1em;
	width: 47.85%;
}

.small-images{
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}

.image4{
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}

.piece p{
	text-align: center;
	margin-bottom: 100px;
}

@media only screen and (max-width: 75em) {
	
	.image2{
		width: 47.75%;
	}
	
	.image3{
		width: 47.75%;
	}
}

@media only screen and (max-width: 72em) {
	
	.image2{
		width: 47.65%;
	}
	
	.image3{
		width: 47.65%;
	}
}

@media only screen and (max-width: 69em) {
	
	.image2{
		width: 47.55%;
	}
	
	.image3{
		width: 47.55%;
	}
}

@media only screen and (max-width: 66em) {
	
	.image2{
		width: 47.45%;
	}
	
	.image3{
		width: 47.45%;
	}
}

@media only screen and (max-width: 63em) {
	
	.image2{
		width: 47.35%;
	}
	
	.image3{
		width: 47.35%;
	}
}

@media only screen and (max-width: 61em) {
	
	.image2{
		width: 47.25%;
	}
	
	.image3{
		width: 47.25%;
	}
}

@media only screen and (max-width: 59em) {
	
	.image2{
		width: 100%;
		margin: 1em 0 0;
	}
	
	.image3{
		width: 100%;
		margin: 1em 0;
	}
}

@media only screen and (max-width: 20em) {
	
	.piece h2{
		font-size: 30px;
	}
}

/*PROJECT PAGE END*/
